@charset "UTF-8";
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: Mercury SSm A, Mercury SSm B, Georgia, serif;
	font-style: normal;
	font-weight: 400
}

body {
	background-color: #fefdfa;
	color: #424240;
	margin: 0;
	overflow-x: hidden
}

.dcf-wrapper {
	padding-left: 5.62vw;
	padding-right: 5.62vw
}

.dcf-d-flex {
	display: -webkit-box!important;
	display: flex!important
}

.dcf-flex-row {
	-webkit-box-orient: horizontal!important;
	flex-direction: row!important
}

.dcf-flex-nowrap {
	flex-wrap: nowrap!important
}

.dcf-ai-center {
	-webkit-box-align: center!important;
	align-items: center!important
}

.dcf-jc-between {
	-webkit-box-pack: justify!important;
	justify-content: space-between!important
}

.dcf-relative {
	position: relative!important
}

.dcf-bt-solid {
	border-top-style: solid!important
}

.dcf-bt-3 {
	border-top-width: 3px!important
}

.unl-bt-scarlet {
	border-top-color: #d00000!important
}

.dcf-flex-shrink-0 {
	flex-shrink: 0!important
}

.dcf-pt-3 {
	padding-top: .75em!important
}

.dcf-pb-3 {
	padding-bottom: .75em!important
}

/* Font Sizes */

.unl .dcf-txt-3xs {
	font-size: .56em!important
}

.unl .dcf-txt-2xs {
	font-size: .63em!important
}

.unl .dcf-txt-xs {
	font-size: .75em!important
}

.unl .dcf-txt-sm {
	font-size: .84em!important
}

.unl .dcf-txt-h6 {
	font-size: 1em!important
}

.unl .dcf-txt-h5 {
	font-size: 1.13em!important
}

.unl .dcf-txt-h1 {
	font-size: 2em!important
}

/* Letter Spacing */

.unl-ls-1 {
	letter-spacing: .01em!important
}

.unl-ls-2 {
	letter-spacing: .06em!important
}

.unl-ls-3 {
	letter-spacing: .1em!important
}

.dcf-hide-breadcrumbs #dcf-breadcrumbs,
.dcf-hide-copyright .unl-footer-unl,
.dcf-hide-footer-contact #dcf-footer-group-1,
.dcf-hide-footer-logos .unl-footer-logo,
.dcf-hide-footer-related #dcf-footer-group-2,
.dcf-hide-idm #dcf-idm,
.dcf-hide-institution #dcf-institution-title,
.dcf-hide-nav #dcf-mobile-toggle-menu,
.dcf-hide-nav #dcf-navigation,
.dcf-hide-qa .unl-wdn-qa,
.dcf-hide-search #dcf-search,
.terminal #dcf-breadcrumbs,
.terminal #dcf-footer-group-1,
.terminal #dcf-footer-group-2,
.terminal #dcf-mobile-toggle-menu,
.terminal #dcf-navigation {
	display: none
}

.dcf-uppercase {
	text-transform: uppercase!important
}

.dcf-italic {
	font-style: italic!important
}

.dcf-bold {
	font-weight: 700!important
}

.unl-institution-title-ls {
	letter-spacing: .32em
}



@media only screen and (max-width:56.12em) {
	.unl .dcf-breadcrumbs {
		height: 4.21em;
		overflow: hidden
	}
	.unl .dcf-breadcrumbs ol {
		padding-bottom: 4.21em;
		overflow-x: auto;
		overflow-y: hidden
	}
	.unl .dcf-breadcrumbs li {
		flex-shrink: 0
	}
	.unl .dcf-logo-lockup {
		padding-bottom: 1em;
		padding-top: 1.33em
	}
	.unl-site-title a {
		font-size: 1em
	}
	.unl .dcf-idm-login {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column
	}
	.unl .dcf-nav-toggle-group {
		display: -webkit-box;
		display: flex;
		z-index: 100150
	}
	.unl .dcf-nav-toggle-btn {
		flex-basis: 25%
	}
	.unl .dcf-header .dcf-institution-title,
	.unl .dcf-idm-toggle,
	.unl .dcf-nav-menu,
	.unl .dcf-search-toggle-wrapper {
		display: none
	}
}

@media only screen and (min-width:56.12em) {
	h1 {
		font-size: 2.37em
	}
	h2 {
		font-size: 2em
	}
	h3 {
		font-size: 1.78em
	}
	.unl .dcf-breadcrumbs li:first-child,
	.unl .dcf-breadcrumbs li:last-child {
		flex-shrink: 0
	}
	.unl .dcf-breadcrumbs li:not(:first-child),
	.unl .dcf-breadcrumbs li:not(:last-child) {
		min-width: 0
	}
	.unl .dcf-breadcrumbs li a {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap
	}
	.unl .dcf-header-global {
		border-bottom: 1px solid #e3e3e2;
		padding-top: .18em
	}
	.unl .dcf-nav-global {
		-webkit-box-flex: 3;
		flex-grow: 3
	}
	.unl .dcf-header-global-item {
		margin-left: 3.16vw
	}
	.unl .dcf-logo-lockup {
		padding-bottom: 1.13em;
		padding-top: 1.33em
	}
	.unl .dcf-idm-login {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		flex-direction: row-reverse
	}
	.unl .dcf-idm-img {
		fill: #e3e3e2
	}
	.unl .dcf-nav-local>ul {
		overflow: hidden;
		width: 100%
	}
	.unl .dcf-nav-local>ul>li {
		flex-basis: 16.67%
	}
	.unl .dcf-nav-local li:not(:last-child) {
		margin-right: 0
	}
	.unl .dcf-nav-local>ul>li>a {
		border-left: 1px solid #a00000;
		height: 100%
	}
	.unl .dcf-nav-toggle-btn-menu~.dcf-nav-local ul ul {
		position: absolute;
		visibility: hidden
	}
	.unl .dcf-nav-menu {
		background-color: #d00000;
		display: -webkit-box;
		display: flex;
		flex-wrap: nowrap;
		padding-left: 5.62vw;
		padding-right: 5.62vw
	}
	.unl .dcf-nav-menu a,
	.unl .dcf-nav-menu button {
		font-size: .75em
	}
	.unl .dcf-nav-toggle-group {
		display: none
	}
	.unl .dcf-nav-toggle-btn-menu {
		z-index: 998
	}
	.unl .dcf-search {
		max-width: 13.32em
	}
	.unl .dcf-idm-toggle,
	.unl .dcf-nav-menu .dcf-nav-toggle-btn-menu,
	.unl .dcf-search-toggle-wrapper {
		display: -webkit-box;
		display: flex
	}
	.unl .dcf-search-toggle {
		background-image: -webkit-gradient(linear, right top, left top, color-stop(2.37em, #fefdfa), color-stop(2.37em, rgba(254, 253, 250, 0)));
		background-image: -webkit-linear-gradient(right, #fefdfa 2.37em, rgba(254, 253, 250, 0) 0);
		background-image: -webkit-gradient(linear, right top, left top, color-stop(2.37em, #fefdfa), color-stop(0, rgba(254, 253, 250, 0)));
		background-image: linear-gradient(270deg, #fefdfa 2.37em, rgba(254, 253, 250, 0) 0)
	}
	.unl .dcf-search-toggle-label {
		padding: .42em 3.16em .42em .75em
	}
	.unl .dcf-txt-h6 {
		font-size: 1.13em!important
	}
	.unl .dcf-txt-h5 {
		font-size: 1.33em!important
	}
	.unl .dcf-txt-h1 {
		font-size: 2.37em!important
	}
}
